body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: #E4F9F5
}

h1 {
  color: #66BFBF;
  font-size: 5rem;
  margin-top: 0;
  margin-bottom: 20;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-weight: normal;
  color: #66BFBF;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
hr {
  border-style:dotted none none;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

.top {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: #E4F9F5;
}

.bottom-container {
  background-color: #E4F9F5;
}

.pro {
  color: #11999E;
  text-decoration: underline;
}

.skills {
  width: 50%;
  margin: 50px auto 100px auto;
  line-height: 2;
}

.skill-row {
  margin-top: 75px;
  /* text-align: left; */
  text-align: justify;
}

.cldtop {
  position: absolute;
  right: 200px;
  top: 50;
}

.cldbtm {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.sklmg {
  border-radius: 50%;
  margin-right: 30px;
  float: left;
  width: 25%;
  text-align: justify;
}

.sklmg2 {
  border-radius: 20px 20px 15px 15px;
  margin-left: 30px;
  float: right;
  width: 30%;
}

.pfimg {
  border-radius: 50%;
  margin-top: 50px;
}

.form {
  margin: 50px auto 50px auto;
  padding-bottom: 20px;
  text-align: left;
}

/* .btn{
  margin-bottom: 10px;
} */
.BUTTON_EDU {
  background: #3D94F6;
  background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: linear-gradient(to bottom, #3D94F6, #1E62D0);
  background-image: -webkit-gradient(top, #3D94F6, #1E62D0);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #FFFFFF;
  font-family: Open Sans;
  font-size: 15px;
  font-weight: normal;
  padding: 10px;
  box-shadow: 1px 1px 20px 0 #000000;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337FED 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin-bottom: 30px;
}

.BUTTON_EDU:hover {
  border: solid #337FED 1px;
  background: #1E62D0;
  background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: linear-gradient(to bottom, #1E62D0, #3D94F6);
  background-image: -webkit-gradient(top, #3D94F6, #1E62D0);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}
